<div>
	<div class="card">
		<div class="item item-divider item-dark">
   			Timeline
  		</div>
  		<div class="item item-text-wrap">
			<div class='timeline'>

				<div class='overflow-timeline'>
					<ion-scroll direction="x" scrollbar-x="false" style="height:80px">
						<div class='timeline-interval-region' style='height: auto; position: relative;min-width:1080px'>
							
							<div 
								class='timeline-slot-region' 
								ng-repeat="data in timeData" 
								style="display:inline-flex" >
								
								<div class='slot-interval' ng-if="$index==0">
									<div class="slot-interval-time first">{{ getUnixTime(timeData[$index].time) }}</div>
								</div>
								
								<div ng-if="$index!==0" data-slot='{{$index-1}}' class='slot' style='background-color: {{getColor($index)}}; width:{{getSlotPercentage(data.time, $index)}}' ></div>

								<div class='slot-interval' ng-if="$index!==0 && $index < timeData.length-1">
									<div class="slot-interval-time">{{ getUnixTime(timeData[$index].time )}}</div>
								</div>
								<div class='slot-interval' ng-if="$index!==0 && $index >= timeData.length-1">
									<div class="slot-interval-time last">{{ getUnixTime(timeData[$index].time) }}</div>
								</div>							
							</div>

						</div>
					</ion-scroll>
				</div>

			</div>
  		</div>
	</div>
	

	<div class="card">
		<div class="item item-divider item-dark">
   			Time Logs
  		</div>
  		<div class="row">
	  		<label class="item item-input item-select col col-50">
		  		<div class="input-label">
		  			Slot Type
				</div>
		  		<select ng-model="subStatusSearch" ng-change="substatusTypeSearch=''">
					<option >all</option>
					<option >work</option>
					<option >break</option>
				</select>
			</label>
			<label class="item item-input item-select col col-50">
		  		<div class="input-label">
		  			Slot Sub Type
				</div>
		  		<select ng-model="substatusTypeSearch" ng-disabled="subStatusSearch==='all'">
		  		<option ng-if="subStatusSearch==='work'">Project</option>
				<option ng-if="subStatusSearch==='work'">Training</option>
				<option ng-if="subStatusSearch==='work'">Fun Wednesday</option>
				<option ng-if="subStatusSearch==='break'">Lunch</option>
				<option ng-if="subStatusSearch==='break'">Gone out</option>
				</select>
			</label>
		</div>
		<div class='time-description'>

			<div 
				ng-repeat="time in timeData "
				ng-if="$index!==0"
				ng-init="showCtrl=false"
				data-slot="{{$index-1}}" 
				class='row slot item item-text-wrap taskInfo responsive-sm' 
				style='height:60px'
				ng-show="(substatusTypeSearch.length>0?substatusTypeSearch==time.statusSubType:subStatusSearch==time.statusType)|| subStatusSearch==='all'"

				>

				<div ng-hide="showCtrl" class="row" ng-click="mergeFlag===false?showCtrl=true:showCtrl=false">
					<div class='col col-25' style='background:{{getColor($index)}}'>
						{{ getSlotDifference($index) }}
					</div>
					<div class='col col-50' data-slot="{{$index-1}}" style="padding:5px;" >{{getTask($index)}}
					</div>
					<div class='col col-20 '  data-slot="{{$index-1}}">
						{{ time.statusSubType }}
					</div>
				</div>

				<div ng-show="showCtrl" class="row">
					<div class='col col-25'>
						<button class="button button-block button-clear button-dark" ng-click="showCtrl=false;split($event, $index-1,timeData[$index].status)">
	  						Split
						</button>
					</div>
					
					
					<div class='col col-25' >
						<button class="button button-block button-clear button-dark" ng-click="showCtrl=false;merge($event, $index-1)">
	  						Merge
						</button>
					</div>
					<div class='col col-25'>
						<button class="button button-block button-clear button-dark" ng-click="showCtrl=false;editSlot($event,$index-1)">
	  						Edit
						</button>
					</div>
					<div class='col col-25'>
						<button class="button button-block button-clear button-assertive" ng-click="showCtrl=false">
	  						Cancel
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>