/* Empty. Add your own CSS if you like */
.time-interval{
	position: absolute;
	display: inline-block;
	width: 40px;
	text-align: center;
}
.time-interval div{
	position: absolute;
	left: -15px;
	}


.timeline-slot-region .slot{
	height: 60px;
	display: inline-block;
	border: 2px solid #FFFFFF;
}

.timeline-slot-region .slot-interval{
	display: inline-block;
	position: absolute;
	top: 26px;
}
.timeline-slot-region .slot-interval .slot-interval-time{
	position: relative;
	left: -18px;
	margin-top:35px;
}
.timeline-slot-region .slot-interval .slot-interval-time.first{
	left: 0px
}
.timeline-slot-region .slot-interval .slot-interval-time.last{
	left: -36px
}
.time-interval{
	position: absolute;
	display: inline-block;
	width: 40px;
	text-align: center;
}
.time-interval div{
	position: absolute;
	left: -15px;
}
.time-interval{
	position: absolute;
	display: inline-block;
	width: 40px;
	text-align: center;
}
.time-interval div{
	position: absolute;
	left: -15px;
}
.timeline {
	width:'100%';
	overflow-x : 'hidden';
}
.overflow-timeline {
	display:'inline-table';
}


.time-description.combine-parent .slot.combine-current .cancel-combine{
	float: right;
	top: -60px;
	position: relative;
	font-size: -webkit-xxx-large;
}

.time-description.combine-parent .slot.combine-current{
	background: rgb(232,100,96); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(232,100,96,1) 0%, rgba(128,26,34,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(232,100,96,1)), color-stop(100%,rgba(128,26,34,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, rgba(232,100,96,1) 0%,rgba(128,26,34,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, rgba(232,100,96,1) 0%,rgba(128,26,34,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(232,100,96,1) 0%,rgba(128,26,34,1) 100%); /* IE10+ */
	background: linear-gradient(45deg, rgba(232,100,96,1) 0%,rgba(128,26,34,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e86460', endColorstr='#801a22',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.time-description.combine-parent .slot.combine-neighbour{
	background: rgb(119,232,96); /* Old browsers */
	background: -moz-linear-gradient(45deg, rgba(119,232,96,1) 0%, rgba(55,128,26,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(119,232,96,1)), color-stop(100%,rgba(55,128,26,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(45deg, rgba(119,232,96,1) 0%,rgba(55,128,26,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(45deg, rgba(119,232,96,1) 0%,rgba(55,128,26,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(45deg, rgba(119,232,96,1) 0%,rgba(55,128,26,1) 100%); /* IE10+ */
	background: linear-gradient(45deg, rgba(119,232,96,1) 0%,rgba(55,128,26,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#77e860', endColorstr='#37801a',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}
.popup{
	width:80% !important;
}

