<ion-modal-view ng-controller="EditController"> 
	<ion-header-bar class="bar bar-dark">
		<h1 class="title">Edit Time Slot</h1>
		<div class="buttons">
  			<button class="button button-clear icon ion-close " ng-click="closeModal('edit')"></button>
		</div>
		</ion-header-bar>
	<ion-content>

		<div class="item item-divider item-dark">
   			Current Task
  		</div>
  		
		<div class="list list-inset">
			<label class="item ">
				<span class="item-label">Task Name: </span>
				<span> {{ mData.slotTask }}</span>
			</label>
			<label class="item">
				<span class="item-label">Task Duration: </span>
				<span> {{ mData.slotDuration }} mins</span>
			</label>
			<label class="item">
				<span class="item-label">Slot Status: </span>
				<span> {{ mData.slotStatus }}</span>
			</label>
		</div>
	<div class="card">
		<div class="item item-divider item-dark">
   			Edit Task
  		</div>
  		<label class="item item-input item-select">
	  		<div class="input-label" >
	  			Slot Type
			</div>
	  		<select ng-model="subStatus" ng-change="substatusType=''" 
	  			<option> select</option>
				<option >work</option>
				<option >break</option>
			</select>
		</label>
		<label class="item item-input item-select">
	  		<div class="input-label" >
	  			Slot Sub Type
			</div>
	  		<select ng-model="substatusType" ng-disabled="!subStatus || subStatus==='select'">
				<option ng-if="subStatus==='work'">Project</option>
				<option ng-if="subStatus==='work'">Training</option>
				<option ng-if="subStatus==='work'">Fun Wednesday</option>
				<option ng-if="subStatus==='break'">Lunch</option>
				<option ng-if="subStatus==='break'">Gone out</option>
			</select>
		</label>

  		<label ng-if="subStatus==='work' && substatusType==='Project'">
	  		<angucomplete 
	              placeholder="Search Tasks"
	              pause="300"
	              selectedobject="newTask.task"
	              localdata="tasks"
	              searchfields="task"
	              titlefield="task"
	              minlength="2"
	              inputClass="input-label"
	              />

		</label>

		<label class="item item-input" ng-if="subStatus==='work' && substatusType==='Training'">
			<textarea ng-model="$parent.newTask.task.title" placeholder="Enter training info" >
			</textarea>
		</label>

		<label ng-if="newTask.task.title && substatusType==='Project'">
			<label class="item">
				<span class="item-label">Task ID: </span>
				<span>#{{newTask.task.originalObject.taskId}}</span>
			</label>
			<label class="item">
				<span class="item-label">Task Label: </span>
				<span>{{newTask.task.originalObject.label}}</span>
			</label>
			<label class="item">
				<span class="item-label">Project Name: </span>
				<span>{{newTask.task.originalObject.project}}</span>
			</label>
		</label>
		
		<button class="button button-block button-balanced" 
  			ng-click="updateSlot(subStatus,newTask.task.title,substatusType);subStatus='select'">Update</button>

	</div>

	
	</ion-content>
</ion-modal-view>