<ion-modal-view ng-controller="SplitController">
	<ion-header-bar class="bar bar-dark">
		<h1 class="title">Split Time Slot</h1>
		<div class="buttons">
  			<button class="button button-clear icon ion-close " ng-click="closeModal('split')"></button>
		</div>
		</ion-header-bar>
	<ion-content>
		<div class="list list-inset">
			<label class="item">
				<span class="item-label">Start time: </span>
				<span> {{ mData.displayStart }}</span>
			</label>
			<label class="item ">
				<span class="item-label">End time: </span>
				<span> {{mData.displayEnd}}</span>
			</label>
			<label class="item">
				<span class="item-label">Duration: </span>
				<span> {{mData.slotDuration}} minutes</span>
			</label>
			<label class="item">
				<span class="item-label">Enter new slot time (in minutes): </span>
				<input ng-model="newSlot" class="new-slot" type="number" maxlength="2" min="0" max={{mData.slotDuration}}>
			</label>
<!-- 			<label class="item item-input item-select">
    			<div class="input-label">
      				Task
    			</div>
    			<select ng-model="newTask">
      				<option ng-repeat="task in tasks">#{{task.taskId}} {{task.task}}</option>
    			</select>
  			</label> -->
			<label class="item item-radio">
				<span class="item-label">Add new slot at: </span>
    			<ion-radio ng-model="newSlotPosition" ng-value="start">Start</ion-radio>
    			<ion-radio ng-model="newSlotPosition" value="end">End</ion-radio>
  			</label>
  			<button class="button button-block button-balanced" 
  			ng-click='splitSlot(newSlot,newSlotPosition)'
  			>Split</button>
		</div>
	</ion-content>
</ion-modal-view>