<ion-view view-title="Weekly {{displayPeriod}}" ng-init="setup()">
	<ion-nav-buttons side="right">
		<button class="button button-clear icon ion-calendar " ng-click="openModal('calendar')"></button>
	</ion-nav-buttons>
	<ion-content class="padding">
		<div class="card">
			<div class="item item-divider item-dark">
				Hours completed this week
			</div>
			<div ng-if="dateSummary.length>0" >
				<serial-graph graph-data="dateSummary" ></serial-graph>
			</div>
		</div>
		<!-- <custom-calendar></custom-calendar> -->
		<div class="card">
			<div class="item item-divider item-dark">
				Weekly Summary
			</div>
			<div class="item item-text-wrap">
				Weekly Requirement: {{expectedHrs}} hrs
			</div>
			<div class="item item-text-wrap">
				Weekly Done: {{totalHrs}} hrs
			</div>
			<div class="item item-text-wrap">
				{{endSummary}}
			</div>
		</div>
		<div class="card">
			<div class="item item-divider item-dark">
				Productivity
			</div>
			<label class="item item-input item-select">
		  		<div class="input-label">
		  			Select
				</div>
		  		<select ng-model="graphType" ng-init="graphType='Project'">
					<option >Project</option>
					<option >Label</option>
				</select>
			</label>
			<div ng-if="dateSummary.length>0">
				<donut-graph graph-data="dateSummary" type="graphType"></donut-graph>
			</div>
		</div>
	</ion-content>
</ion-view>
